#!/bin/bash
sudo mkdir /mnt/tmp
sudo mkfs.ext4 -F /dev/sdc
sudo mount -o discard,defaults /dev/sdc /mnt/tmp
sudo dd if=/dev/sdb of=/mnt/tmp/disk.raw bs=4M conv=sparse
cd /mnt/tmp
sudo tar -Sczf {{ version }}.tar.gz disk.raw
gsutil cp /mnt/tmp/{{ version }}.tar.gz gs://{{ bucket }}
