Welcome to KubeVirt Trial

Kubernetes and KubeVirt have been pre-installed for you. You may use
the guide at http://kubevirt.io/labs/kubernetes.html to explore more.

Versions
--------
OS:         {{ ansible_distribution }} {{ ansible_distribution_version }} {{ ansible_distribution_release }}
Kubernetes: {{ kubernetes_version.stdout }}
KubeVirt:   v{{ kubevirt_version.stdout }}
